<h3>More information about
  <p class="author-highlight">{{question.author}}'s</p>
  <p class="question-highlight">{{question.content}}:</p>
</h3>

<h2> Answers </h2>
<ul>
{{#each question.answers as |answer|}}
<li>{{answer.content}}</li>
<p> hello, why is this list erased? </P>
{{/each}}
</ul>
<!--
<ul>
  {{#each question.answers as |answer|}}
  <li>
    {{answer.author}}<br> {{answer.content}}
    <br> {{answer.votes}}
  </li>
  {{/each}}
</ul> -->
