<!-- Handles update to Answers; called by [question] -->

{{#if updateAnswerForm}}
  <div>
    <form>
      <div class="form-group">
        <label for="author">Author</label>
        {{input value=answer.author id="author" placeholder=answer.author}}
      </div>

      <div class="form-group">
        <label for="content">Answer</label>
        {{input value=answer.content id="content" placeholder=answer.content}}
      </div>

      <button {{action 'update' answer}}>Save</button>
    </form>
  </div>
{{else}}
  <button {{action 'updateAnswerForm'}}>Edit Answer</button>
{{/if}}
