  <h3>Spcific Question and Answer </h3>
    <p class="author-highlight"> <br>
      Author: <strong>{{model.author}}</strong></p>
    <p class="question-highlight"> Question: <strong> {{model.content}} </strong></p>

  {{update-question question=model update="update"}}

<br>
<h4> Answers </h4>
<ol>
  {{#each model.answers as |answer|}}
    <li>
    Author: <strong>{{answer.author}}</strong>
    <br>
    Answer: <strong>{{answer.content}}</strong>

   <!-- call update-answer to edit on the Answer -->
    {{update-answer updateAnswer="updateAnswer" answer=answer}}
    <br>
    </li>
  {{/each}}
</ol>

<!-- call new-answer to allow adding answer -->
{{new-answer saveAnswer="saveAnswer" question=model}}
